
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">
          Especifique el monto y el tipo
        </p>

        <form
          [formGroup]="icomeEgressForm"
          (submit)="saveIcomeEgress()"
        >
          <div class="form-group">
            <label>Descripción</label>
            <input
              formControlName="description"
              type="text"
              class="form-control"
              placeholder="Description"
              name="descripcion"
            >
            <span style="color:red; margin-top:1rem;" *ngIf="this.icomeEgressForm.controls['description'].touched
                        && this.icomeEgressForm.controls['description'].invalid" class="touched">
              Error in the field
            </span>
          </div>

          <div class="form-group">
            <label>Monto</label>
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              formControlName="amount"
              name="monto"
            >
            <p>
              Debe de ser un monto positivo
            </p>
            <span style="color:red; margin-top:1rem;" *ngIf="this.icomeEgressForm.controls['amount'].touched
                    && this.icomeEgressForm.controls['amount'].invalid" class="touched">
              Error in the field
            </span>
          </div>

          <div class="form-group">
            <label for="listType" class="form-label">Type</label>
            <input
              class="form-control"
              list="datalistOptions"
              id="listType"
              placeholder="Type to search..."
              formControlName="type"
            >
            <datalist id="datalistOptions">
              <option
                *ngFor="let enumK of enumKeys"
                [value]="enumK"
              ></option>
            </datalist>
            <span
              style="color:red; margin-top:1rem;"
              *ngIf="this.icomeEgressForm.controls['type'].touched
              && this.icomeEgressForm.controls['type'].invalid"
              class="touched">
              Error in the field
            </span>
          </div>

          <hr>
          <button
            type="submit"
            class="btn btn-success mr-2"
            [disabled]="this.icomeEgressForm.invalid"
          >
            <i class="fa fa-save"></i>
            Agregar
          </button>

          <!--
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button>
              -->

          <button type="reset" class="btn btn-light">Cancelar</button>

        </form>
      </div>
    </div>
  </div>
</div>
