
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th (click)="sortProperty('description')">
                  Descripción
                  <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="sortProperty('amount')"
                >Monto
                <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th (click)="sortProperty('type')">
                  Tipo
                  <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let item of icomeEgress | orderIcome:someProperty:sortReverse"
            >
              <td>{{ item.description }}</td>
              <td>{{ item.amount|currency }}</td>
              <td
                [ngClass]="{
                  'text-danger': item.type === 'Icome',
                  'text-success': item.type === 'Egress'
                }"
              >
                {{ item.type }}
              </td>
              <td>
                <button
                  type="button"
                  (click)="deleteItem(item.uid ?? '1')"
                  class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
