<nav class="sidebar sidebar-offcanvas">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/avatar.webp" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{ userEntity?.getName() }}</p>
            <div>
              <small class="designation text-muted">{{ userEntity?.getEmail() }}</small>
            </div>
          </div>
        </div>
      </div>
    </li>


    <li class="nav-item" *ngFor="let route of routes; index as i">
      <a [routerLink]="route.path" routerLinkActive="active" class="nav-link">
        <i [class]="route.data?.['class']"></i>
        <span class="menu-title">{{ route.title }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a (click)="logout()" class="nav-link cursor">
        <i class="menu-icon fa fa-sign-out-alt"></i>
        <span class="menu-title">Cerrar sesión</span>
      </a>
    </li>

  </ul>
</nav>
